/* Write your CSS code here */
.about-container {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.about-img {
  height: 200px;
  width: 300px;
}
.about-heading {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: rgb(96, 81, 7);
}
@media(max-width:576px){
  .about-img {
  height: 120px;
  width: 250px;
}
}